body{
    background-color: black;
    margin: 0;
}
.boxes{
    margin : 45px auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4,100px);
    gap: 20px;
    box-sizing: border-box;
    
}
.box{
    heigth: 100 px;
    background-color: gray;
    cursor: pointer;
    border-radius: 45 px;
    border: 3px solid aquamarine;
    padding :50px;
    
}